/* task 1 */
@media print {
    .assign-one {
        font-size: 40px;
    }
}
/* task 2 */
.parent1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parent1 > div {
    background-color: gainsboro;
    padding: 0 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
/* mobile */
@media (max-width: 991px) {
    h3 {
        color: black;
    }
}
/* medium */
@media (min-width: 992px) {
    .parent1 > div {
        width: calc(45%);
    }
    h3 {
        color: red;
    }
}
/* large */
@media (min-width: 1200px) {
    .parent1 > div {
        width: calc(20%);
    }
    h3 {
        color: teal;
    }
}
/* task 3 */
.parent2 {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
}
.parent2 > div {
    background-color: gainsboro;
    padding: 0 20px;
    margin-bottom: 10px;
    text-align: center;
}
/* mobile */
@media (max-width: 991px) {
    h3 {
        color: black;
    }
}
/* medium */
@media (min-width: 992px) {
    .parent2 {
        grid-template-columns: repeat(3,30%);
        grid-template-rows: repeat(2,);
    }
    .pr1 {
        grid-area: 1/3 span;
    }
    h3 {
        color: red;
    }
}
/* large */
@media (min-width: 1200px) {
    .parent2 {
        grid-template-columns: repeat(2,49%);
        grid-template-rows: repeat(3,);
    }
    .pr1 {
        grid-area: 1/2 span;
    }
    .pr4 {
        grid-area: 3/2 span ;
    }
    h3 {
        color: teal;
    }
}