/* task 1 */
 .div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 30px 50px;
    text-align: center;
    padding: 60px 60px;
    border: 5px coral solid;
}

.p {
    background-color: gainsboro;
    padding: inherit;
    border: inherit;
}
/* task 2 */
.one {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: italic;
}

.two {
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

.three {
    font-family: 'Jomhuria', cursive;
    text-align: center;
}
/* task 3 */
.on {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.tw {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
}

.thr {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}


